In [32]:
import requests

raw_games = requests.get(
        "https://api.nhle.com/stats/rest/en/team"
    )

data = raw_games.json()['data']

In [22]:
import pyarrow.parquet as pq
import pandas as pd
import pyarrow as pa

In [40]:
df = pd.DataFrame(data)
print(list(df.columns))

['id', 'franchiseId', 'fullName', 'leagueId', 'rawTricode', 'triCode']

In [36]:
table = pa.Table.from_pandas(df)
table

[<pyarrow.lib.ChunkedArray object at 0xffff1a70c590>
 [
   [
     11,
     34,
     31,
     32,
     33,
     ...
     22,
     16,
     3,
     29,
     13
   ]
 ],
 <pyarrow.lib.ChunkedArray object at 0xffff1a70c5e0>
 [
   [
     35,
     26,
     15,
     27,
     28,
     ...
     25,
     11,
     10,
     36,
     33
   ]
 ],
 <pyarrow.lib.ChunkedArray object at 0xffff1a70c630>
 [
   [
     "Atlanta Thrashers",
     "Hartford Whalers",
     "Minnesota North Stars",
     "Quebec Nordiques",
     "Winnipeg Jets (1979)",
     ...
     "Edmonton Oilers",
     "Chicago Blackhawks",
     "New York Rangers",
     "Columbus Blue Jackets",
     "Florida Panthers"
   ]
 ],
 <pyarrow.lib.ChunkedArray object at 0xffff1a70c680>
 [
   [
     133,
     133,
     133,
     133,
     133,
     ...
     133,
     133,
     133,
     133,
     133
   ]
 ],
 <pyarrow.lib.ChunkedArray object at 0xffff1a70c6d0>
 [
   [
     "ATL",
     "HFD",
     "MNS",
     "QUE",
     "WIN",
     ...
     "EDM",
     "CHI",
     "NYR",
     "CBJ",
     "FLA"
   ]
 ],
 <pyarrow.lib.ChunkedArray object at 0xffff1a70c720>
 [
   [
     "ATL",
     "HFD",
     "MNS",
     "QUE",
     "WIN",
     ...
     "EDM",
     "CHI",
     "NYR",
     "CBJ",
     "FLA"
   ]
 ]]

In [25]:
pq.write_table(table, 'raw_games.parquet')

In [26]:
import sqlite3

pq.read_table('raw_games.parquet')

# Connect to a SQLite database (this will create or open the database file named 'nhl_games.db')
conn = sqlite3.connect('nhl_games.db')
cursor = conn.cursor()

NameError: name 'constants' is not defined

In [27]:
import duckdb

In [28]:
cur = duckdb.connect('/home/dpage/Projects/skrimmage/data/staging/data.duckdb')

In [30]:
cur.execute('select * from raw_nhl_games limit 1;').fetchall()

[(1917020001,
  '1917-12-19T20:00:00',
  '1917-12-19',
  1,
  1,
  7,
  2,
  4,
  36,
  3.0,
  19171918,
  7,
  8)]

In [31]:
cur.close()